/* General Styles */
:root {
    --main-color: #FFE5CF; 
}

body {
    background-color: var(--main-color);
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
	color: #33372C;
}

h1, h2, p {
    margin: 0;
    padding: 0;
    color: #33372C;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

section {
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #557C56;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.navbar img.logo {
    width: 200px;
    height: 100px;
    margin: 0;
    padding: 0;
}

.navbar nav {
    display: flex;
    justify-content: space-evenly; 
    flex-grow: 1; 
    margin-left: 1px; 
}

.navbar a {
    color: #FFE5CF;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #FF885B;
    color: black;
}

/* Homepage Section */
.homepage {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.homepage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #FF885B;
    z-index: 2;
    padding: 0 20px;
}

.homepage-text h1 {
    font-size: 84px;
    color: #FF885B;
    text-shadow: 
        -5px -5px 0 #FFE5CF,  
        5px -5px 0 #FFE5CF,
        -5px 5px 0 #FFE5CF,
        5px 5px 0 #FFE5CF;
}

.homepage-text h2 {
    font-size: 40px;
    color: #FF885B;
    text-shadow: 
        -3px -3px 0 #FFE5CF,  
        3px -3px 0 #FFE5CF,
        -3px 3px 0 #FFE5CF,
        3px 3px 0 #FFE5CF;
}

.homepage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Introduction Section */
.introduction {
    padding: 10px;
    background-color: #FFE5CF;
}

/* SDGs Section */
.sdgs {
    padding: 10px;
    background-color: #FFE5CF;
}

.sdg {
    margin-bottom: 40px;
    overflow: hidden;
}

.sdg h2 {
    text-align: left;
}

.sdg p {
    text-align: justify;
}

.sdg img.sdg-image {
    float: left;
    width: 200px;
    height: auto;
    margin: 0 15px 10px 0;
}

.sdg-content {
    overflow: hidden;
}

/* Conclusion Section */
.conclusion {
    padding: 10px;
    background-color: #FFE5CF;
}

.conclusion aside {
    text-align: center;
    margin-top: 20px;
}

.conclusion aside video {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.conclusion aside ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.conclusion aside li a {
    color: #557C56;
    text-decoration: underline;
}

/* Multimedia Section */
.multimedia {
    background-color: #557c56;
    text-align: center;
    padding: 20px;
}

.multimedia .highlight {
    color: #ffe5cf;
    font-weight: bold;
}

.multimedia video {
    width: 70%;
    height: auto;
    margin-top: 20px;
}

/* Additional Links Section */
.additional-links {
    background-color: #ff885b;
    padding: 20px;
    text-align: center;
}

.additional-links .highlight {
    color: #ffe5cf;
    font-weight: bold;
}

.additional-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.additional-links li {
    text-align: center;
    flex: 1;
    max-width: 200px; 
}

.additional-links a {
    text-decoration: none;
    color: #ffe5cf;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.additional-links a:hover {
    color: #557c56;
}

.additional-links img {
    display: block;
    margin: 0 auto 10px;
    width: 150px
}

/* Social Media Section */
.social-media {
    background-color: #557c56;
    padding: 20px;
    text-align: center;
}

.social-media .highlight {
    color: #ffe5cf;
    font-weight: bold;
}

.social-media .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px; 
}

.icon {
    display: inline-block;
}

.facebook.sprite {
    background: url('Images/social-media.png') no-repeat;
    background-position: -135px -15px;
	width: 75px;
	height: 76px;
}

.twitter.sprite {
    background: url('Images/social-media.png') no-repeat;
    background-position: -250px -20px;
	width: 75px;
	height: 64px;
}

.youtube.sprite {
    background: url('Images/social-media.png') no-repeat;
    background-position: -365px -25px;
	width: 75px;
	height: 54px;
}

.instagram.sprite {
    background: url('Images/social-media.png') no-repeat;
    background-position: -20px -15px;
	width: 74px;
	height: 75px;
}

.snapchat.sprite {
    background: url('Images/social-media.png') no-repeat;
    background-position: -135px -121px;
	width: 75px;
	height: 72px;
}

.pinterest.sprite {
    background: url('Images/social-media.png') no-repeat;
    background-position: -595px -119px;
	width: 75px;
	height: 75px;
}

/* Call to Action Section */
.call-to-action {
    background-color: #ffe5cf;
    color: #33372c;
    text-align: center;
    padding: 20px;
}

.call-to-action p {
    text-align: center;
}

.call-to-action input[type="text"]:focus,
.call-to-action input[type="email"]:focus,
.call-to-action input[type="submit"]:focus {
    outline: none; 
    background-color: #fff3b3; 
    border: 2px solid #ff885b; 
    color: #33372c; 
}

.call-to-action input[type="text"],
.call-to-action input[type="email"],
.call-to-action input[type="submit"] {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: none;
    color: #33372c;
    background-color: white;
}

.call-to-action input[type="submit"] {
    background-color: #ff885b;
    color: #ffe5cf;
    font-weight: bold;
}

/* Quiz Section Styles */
.quiz-container {
    background-color: #F47C4D; 
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 600px;
    margin: 30px auto;
}

/* Quiz Section Styles */
.quiz-container {
    background-color: #F47C4D; 
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 30px auto;
}

.quiz-container h1 {
    font-size: 36px;
    color: #FFECD6;
    font-weight: bold;
}

#quiz-box {
    background: #FFECD6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px gray;
}

#question {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #3D3D3D;
}

#choices button {
    display: block;
    background: #39693A;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px auto;
    width: 85%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

#choices button:hover {
    background: #2D5230;
    transform: scale(1.03);
}

button {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    background: #39693A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: #2D5230;
    transform: scale(1.05);
}

.correct {
    background-color: #4CAF50 !important; /* Green */
    color: white;
}

.incorrect {
    background-color: #D9534F !important; /* Red */
    color: white;
}

#result {
    font-size: 22px;
    font-weight: bold;
    color: #33372C;
    margin-top: 20px;
}



/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #557C56;
    color: #FFE5CF;
}
